.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}
.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.contact-form__inner {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 30px;
    padding: 40px;
}

.contact-form__group {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    height: 2.5rem;
}

.contact-form__title {
    width: 15%;
    text-align: left;
    margin: auto 0;
}
.input-name {
    width: 20%;
}

.contact-form__group-gender {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-left: 40px;
}
.input-radio {
    inline-size: 2.5rem;
    block-size: 2.5rem;
    margin-left: 20px;
}
.title__gender {
    margin: auto 0;
}

.input-save {
    width: 20%;
}
span {
    margin: auto 20px;
}

.input-email {
    width: 20%;
}


.form__button {
    margin-top: 50px;
}

.form__button-submit {
    padding: 8px 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 3px;
}
.reset__button {
    margin-top: 5px;
}
.reset__button-submit {
    color: black;
}


.table-row__title {
    width: 100%;
    height: 2.5rem;
    border-bottom: 1px solid black;
}

.table-column__id {
    padding-left: 30px;
}
.table-column__fullname {
    width: 15%;
    text-align: left;
}
.table-column__gender {
    width: 10%;
    text-align: left;
}
.table-column__email {
    width: 20%;
    text-align: left;
}
.table-column__opinion {
    width: 35%;
}
th {
    text-align: left;
}


.table-row__save {
    width: 100%;
}
.id {
    border: none;
    width: 50px;
}
.name {
    border: none;
}
.gender {
    border: none;
}
.email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
}
.opinion {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
}
.opinion:hover{
    position: absolute;
    border: none;
    background-color: rgb(202, 189, 174);
}

.delete__button {
    text-align: center;
}
.delete__button-submit {
    padding: 2px 13px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 3px;
}