.thanks__content {
    margin: 200px auto 30px;
    padding: 30px 15px;
    max-width: 1230px;
}
.thanks__heading {
    text-align: center;
}
.form__button {
    text-align: center;
}
.form__button-submit {
        padding: 10px;
        width: 15%;
        height: 50px;
        border: none;
        border-radius: 3px;
        background: #000;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
}